<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Portafolio|NahuelRamos</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body class="bg_container">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg_nav">
            <div class="container-fluid sticky_nav">
              <a class="navbar-brand" href="../index.html">
                  <img class="img-fluid w-50" src="../assents/img/LOGO_NAV.svg" alt="logo_nav">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex justify-content-end w-100">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">SOBRE MI</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/Habilidades.html">HABILIDADES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/otras habilidades.html">OTRAS HABILIDADES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/Contacto.html">CONTACTO</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
<main class="container mt-5 bg_container">
    <article class="row mt-3">
        <h2 class="mb-5 text-center fs-1">Sobre Mi</h2>
        <div class="col-12 col-lg-12 text-center">
          <img class="img-fluid mt-0 rounded-circle" src="../assents/img/Me.svg" alt="yo">
        </div>
        <div class="col-12 col-lg-6">
          <p class="fs-1">Mi nombre es Nahuel Ramos,
            tengo 23 años.Hace tiempo que tengo interes en todo el campo informatico,ahora por este medio puedo expandir mis conocimientos para asi poder lograr desarrollar sitios webs.
          </p>
        </div>
        <div class="col-12 col-lg-6">
          <p class="fs-1">Estoy en busca de un empleo el cual me ayude a expandir mis conocimientos y dotarme de nuevas habilidades en el area del desarrollo web.</p>
        </div>
      </article>
  </main>
  <footer class="container">
    <div class="row m-0 mt-5">
        <div class="col-12 col-lg-12">
          <p class="fs-2 mb-5 text-center">REDES SOCIALES</p>
          <ul class="ul__footer d-flex justify-content-evenly">
             <a class="a_footer" href="https://www.facebook.com/"><li class="fs-2"><i class="bi bi-facebook mx-3"></i>FACEBOOK</li></a> 
              <a class="a_footer" href="https://www.instagram.com/"><li class="fs-2"><i class="bi bi-instagram mx-3"></i>INSTAGRAM</li></a>
              <a class="a_footer" href="https://www.twitter.com/"><li class="fs-2"><i class="bi bi-twitter mx-3"></i>TWITTER</li></a>
          </ul>
        </div>
    </div>
</footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>